* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
    background: #cfcee1; 

}

.container-1 {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    height: 100vh; 
    margin: 0 auto; 
    justify-content: center;
    align-items: center; 
}

.container-2 {
    max-width: 1000px;
    margin: 0 auto; 
    height: 100vh; 
    
}

/* Header */ 
header {
    font-family: 'DM Mono', monospace;
    margin: 20px; 
    align-self: center; 


}

.header-wrapper {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
h1 { 
    font-size: 3em; 
    color: #454fac; 
}

h2 {
    padding: 30px 0; 
    font-size: 1.5em; 
    font-family: 'Jost', sans-serif; 
    color: #525F7F;
}

.fab {
    color: #525F7F;
    font-size: 2em; 

 }

.projects-link {
    background-color: #454fac; 
    border-radius: 5px; 
    color: #fff;
    padding: 15px; 
    font-size: 1em; 
    text-decoration: none; 
}
.arrow-down{
    margin-top: 20vh; 
}

/* Main */ 

main {
    max-width: 100%; 
    margin: 10vh 20px;
     
    
}

.terminal-header {
    background: #e6e1ec;
    color: #525f7f;  
    height: 20px;
    padding: 5px;
    text-align: center; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    

}

/* Main - Nav */ 
.terminal-tabs ul {
    background: #e6e1ec;
    max-width: 100%; 
    height: 30px;
    margin: 0; 
    display: flex; 
    justify-content: space-around; 

}

.terminal-tabs li {
    display: block;
    width: 100%; 
    text-align: center; 
}

.terminal-tabs a {
    color: #525f7f; 
    text-decoration: none; 
}

/* Content */

section { 
    background: #3a3957; 
    color: #fff;
    height: 500px; 
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

#section-about {
    padding: 10px;
}

#section-project-gallery {
    display: none; 
}

#section-project-transition {
    display: none; 
}

#section-project-info {
    display: none; 
}


/* Footer */

footer {
    margin: 15vh; 
    text-align: center; 
}